<<<<<<< HEAD
body {
    background-color: rgb(28, 28, 28);
    /*background-image:url("a imagem.png");*/
}

a:link {
    text-decoration: none;
    word-spacing: 0;
}
  
@font-face {
    font-family: Dombogen;
    src: url(Dombogen.tff);
}

.fontus{
    font-family: Dombogen; font-size: 25px;
}

.verti {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
}

.pyrmd {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 10px;
}

.textus {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    padding: 10px;
}

.dombo {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.hori {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding: 10px;
}

.linkim {
    text-align: center;
    display:block;
    font-size: 24px;
    word-spacing: 5mm;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
    color: blanchedalmond;
}

p {
    color: rgb(195, 195, 195);
}


h1 {
    color: rgb(195, 195, 195);
    text-align: center;
}

h5 {
    color: rgb(195, 195, 195);
    text-align: center;
=======
body {
    background-color: rgb(28, 28, 28);
    /*background-image:url("a imagem.png");*/
}

a:link {
    text-decoration: none;
    word-spacing: 0;
}
  
@font-face {
    font-family: Dombogen;
    src: url(Dombogen.tff);
}

.fontus{
    font-family: Dombogen; font-size: 25px;
}

.verti {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
}

.pyrmd {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 10%;
    padding: 10px;
}

.textus {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    padding: 10px;
}

.dombo {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 10px;
}

.hori {
    display:block;
    font-size: 20px;
    word-spacing: 1mm;
    letter-spacing: 0,5mm;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
    padding: 10px;
}

.linkim {
    text-align: center;
    display:block;
    font-size: 24px;
    word-spacing: 5mm;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    padding: 10px;
    color: blanchedalmond;
}

p {
    color: rgb(195, 195, 195);
}


h1 {
    color: rgb(195, 195, 195);
    text-align: center;
}

h5 {
    color: rgb(195, 195, 195);
    text-align: center;
>>>>>>> a7e4213e30741d7b48cdc5410566bcd01ffd7f9f
}